body {
    background-color: #f8f4ef;
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #333;
}

h1,
h2 {
    color: #702d15;
}

.description {
    max-width: 600px;
}

.left {
    width: 600px;
    float: left;
    margin-bottom: 20px;
}

.right {
    width: 600px;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
}

body>p {
    clear: both;
    max-width: 600px;
}